@model EditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-primary">Edit</h1>


<form asp-action="SaveEdit" asp-controller="Account" method="post">
<div asp-validation-summary="ModelOnly" class="text-danger" style="color: red;"></div>
    <input type="hidden" asp-for="EmployeeId" />

    <div class="form-group">
        <label asp-for="FName"></label>
        <input asp-for="FName" class="form-control" />
        <span asp-validation-for="FName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LName"></label>
        <input asp-for="LName" class="form-control" />
        <span asp-validation-for="LName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" asp-items="Model.Roles" class="form-control"></select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" asp-action="SaveEdit" asp-controller="Account">Save</button>
    <a asp-action="Index" asp-controller="Employee">Back to list</a>
</form>
